body{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color:cornsilk;
    
}

header{
   
 background-color: lightblue;
  
}

.container{


  
    display: flex;
   
    align-items: center;
    justify-content: center;
    
 
   
   
}

.container-left{
   
   

    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}


.shop-title{
    margin-top: 5px;
    color:blueviolet;
    align-items: center;
    justify-content: center;

    
}

.Offer{
color:red;
font-size:2rem;
font-weight: 900;
}


.container-right{
  
   
height:50px;
display:flex;
justify-content: end;
align-items: center;
   
  
}

.nav-item:hover{
background-color: rgb(205, 35, 109);
}

.carousel{
    overflow: hidden;
    
}



.product-images{
   
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    
}

.image-area{

    background-color: burlywood;
   
}

.single-image{
    padding: 10px;
 
}


.card-caption{
    margin-top: 30px;
    padding: 5px;
    background-color:azure;
    color:blueviolet;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.author-container{

    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.author-area{
    margin-top:30px;
    padding: 10px;
    
    background-color:lightpink;
 
    
   
  
}


.author-container{
    justify-content: center;
}



.author-container-left{
    height: 310px;
    width: 100%;
    background-color: aquamarine;
    border: 2px solid lightpink;
    border-radius: 50px;
    align-items: center;
    justify-content: end;
}


.author-image img{
    margin-top: .25rem;
    align-items: end;
    justify-content: center;
    margin-left: 6.5rem;
}



.author-container-right{
    height: 310px;
    width: 100%;
    background-color: aquamarine;
    border: 2px solid lightpink;
    border-radius: 50px;
    align-items: center;
    justify-content: end;
}

.author-quote{

    padding-top: 3rem;
    padding-left:1rem;
    
   
}




.form-area{
margin: top 20px;

    background-color: rgb(184, 191, 178);
    color: rgb(174, 3, 134);
    align-items: center;
    justify-content: center;
}


form{
    margin: 10px;
    padding:15px;
}




footer{
	width:100%;
    height: 40px;
	background:#34bdbd;
}

.container{
    display: flex;
    flex-direction: column;
}


.social{
    display: inline-block;
}
.container ul li a{
    list-style:none;
}